<!DOCTYPE html> <html> <head> <title>
    Persona Forge</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head><body>
<header>
    <h1>Добро пожаловать в Persona Forge</h1>
</header>
<main>
    <section id="registration"> <h2>Регистрация</h2> <p> Зарегистрируйтесь, чтобы в будущем вернуться к своим персонажам. </p>
        <a href="/register">Зарегистрироваться</a> </section>
    <section id="forge"> <h2>Кузница</h2> <p> Создавайте своих собственных персонажей в Кузнице </p>
        <a href="/forge">Зайти в Кузницу</a> </section>
    <section id="vault"> <h2>Хранилище</h2> <p> Храните всех своих прекрасных персонажей в своём Хранилище </p>
        <a href="/vault">Зайти в хранилище</a> </section>
</main>
<footer> <p> &copy; 2023 Persona Forge. All rights reserved. </p> </footer>
</body> </html>
<style>
body { background-color: #eee; }
header { background-color: #333; color: #fff; padding: 1rem; }
main { margin: 2rem; background-color: #eee;}
main h2 { color: #333; margin-bottom: 1rem; }
main p { font-size: 1.1rem; line-height: 1.5; }
main a { background-color: #333; color: #fff; padding: 0.5rem 1rem; text-decoration: none; }
main a:hover { background-color: #555; }
footer { background-color: #333; color: #fff; padding: 1rem; }
footer p { font-size: 0.8rem; }
</style>