    <form method="post" action="/">
        <input type="submit" value="Head1" name="act1"/>
        <input type="submit" value="Head2" name="act1" />
        <input type="submit" value="Head3" name="act1"/>
        <input type="submit" value="Head4" name="act1" />
<br>
        <input type="submit" value="Body1" name="act1"/>
        <input type="submit" value="Body2" name="act1" />
        <input type="submit" value="Body3" name="act1"/>
        <input type="submit" value="Body4" name="act1" />
<br>
        <input type="submit" value="Border1" name="act1"/>
        <input type="submit" value="Border2" name="act1" />
        <input type="submit" value="Border3" name="act1"/>
        <input type="submit" value="Border4" name="act1" />
<br>
        <input type="submit" value="Eyes1" name="act1"/>
        <input type="submit" value="Eyes2" name="act1" />
        <input type="submit" value="Eyes3" name="act1"/>
        <input type="submit" value="Eyes4" name="act1" />
    </form>
<img src="{{ url_for('static', filename='img/image.png') }}" width="390" height="520" style="image-rendering: pixelated;">
