    <form method="post" action="/">
        <input type="submit" value="<" name="act2"/>
        <input type="submit" value=">" name="act2" />
            Head
<br>
        <input type="submit" value="<" name="act1"/>
        <input type="submit" value=">" name="act1" />
            Body
<br>
        <input type="submit" value="<" name="act0"/>
        <input type="submit" value=">" name="act0" />
            Border
<br>
        <input type="submit" value="<" name="act3"/>
        <input type="submit" value=">" name="act3" />
            Eyes
    </form>
<img src="{{ url_for('static', filename='img/image.png') }}" width="390" height="520" style="image-rendering: pixelated;">
